* {
  box-sizing: border-box;
}

body {
  font-family: AvenirNext;
  background: #575a5d;
}

a {
  text-decoration: none;
  color: #025158;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:visited {
    color: #025158;
  }
}

h2 {
  margin: 0;
}

button {
  outline: none;
  border: none;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &:disabled {

    &:hover {
      opacity: 1;
      cursor: auto;
    }
  }
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='number'],
textarea {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type='submit'], button.submit, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: #FDFBEF;
  border-radius: 2px;
  height: 40px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #003E52;
}
button.outlined {
  border: 1px solid #FDFBEF;
  background: transparent;
  color: #FDFBEF;
}
button.highlighted {
  background: #FF5A5A;
  color: #FDFBEF; 
}
button.small-font {
  font-size: 13px;
}
