@font-face {
  font-family: AvenirNext;
  font-weight: 200;
  src: url("@/assets/fonts/AvenirNext-Thin.woff") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 300;
  src: url("@/assets/fonts/AvenirNext-Light.woff") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 400;
  src: url("@/assets/fonts/AvenirNext-Regular.woff") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 500;
  src: url("@/assets/fonts/AvenirNext-Medium.woff") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 600;
  src: url("@/assets/fonts/AvenirNext-Demi.woff") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 700;
  src: url("@/assets/fonts/AvenirNext-Bold.woff") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 800;
  src: url("@/assets/fonts/AvenirNext-Heavy.woff") format("opentype");
}
